/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

body {
    background: #ffffff;
}

.main {
    width: 400px;
    height: 100%;
    background: #ffffff;

}

.center {
    width: 352px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    margin-top: 8px;
    display: flex;
    flex-direction: row;
}

.header_text {
    font-size: 14px;
    color: #272D34;
}

.caption {
    margin-top: 8px;
    font-size: 40px;
}

.heart_blocks {
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
}

.heart_block_2 {
    margin-top: 40px;
}

.heart_block_3 {
    margin-top: 40px;
}

.ashtray_block {
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    width: 342px;
    height: 192px;
}

.ashtray_text1 {
    font-size: 16px;
    margin-top: 16px;
    height: 137px;
}

.link_article_1 {
    margin-top: 16px;
    height: 54px;
    display: flex;
    flex-direction: row;
    background: #F8F8F9;
    font-size: 16px;
}

.lin_text1 {
    padding-left: 16px;
    padding-top: 16px;
    width: 70%;
}

.lin_text2 {
    padding-left: 16px;
    padding-top: 16px;
    width: 30%;
}

.arrow_img {
    float: right;
}

.footer {
    padding-top: 72px;
}