html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html {
    height: 100%;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: inherit;
  }

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    /* отображаем курсор в виде руки при наведении; некоторые
    считают, что необходимо оставлять стрелочный вид для кнопок */
    cursor: pointer;
  }

body {
    background: #102A45;
    margin: 0;
    padding: 0;
}

main {
    padding: 20px;
  }

  header {
    height: 50px;
    background: #011E3D;
    color: #ffffff;
    
}

.down_part {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.back_but {
    padding-top: 15px;
    padding-left: 20px;
}

.exchange_but {
    margin-top: 200px;
    background: #44B1FF;
    color: #ffffff;
    width: 272px;
    height: 48px;
    border-radius: 5px;
}

.but_exch {
    text-align: center;
}

.buy_crypto_text {
    color: #ffffff;
    font-size: 20px;
}

.excpence {
    height: 90px;
    background: #213951;
    border-radius: 5px;
    margin-top: 28px;
}

.get_exchamge {
    height: 90px;
    background: #213951;
    border-radius: 5px;
    margin-top: 28px;
}