html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    /* отображаем курсор в виде руки при наведении; некоторые
    считают, что необходимо оставлять стрелочный вид для кнопок */
    cursor: pointer;
  }

a {
    color: inherit;
    text-decoration: none;
}
  
a:hover {
    text-decoration: underline;
}
  
a:visited {
    color: inherit;
}
  
a:focus,
a:active {
    outline: none;
}

.button:hover {
    background-color: #999;
}
  
.button:active {
    background-color: #555;
}

.blue_text {
    color: #5288C1;
}

body {
    background-color: #D9D9D9;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 20px;
    background-color: #D9D9D9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
}

.balance {
    text-align: center;
    margin-top: 20px;
}

.actions {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    text-align: center;
}

.send,
.other-assets,
.how-to-replenish {
    width: 30%;
    text-align: center;
}

h1, h2, h3, h4 {
    margin: 0;
    color: #333;
}

p {
    margin: 5px 0;
    color: #777;
}

.bal_block {
    display: inline-block;
  }

.exchange {
    margin-top: 30px;
    background: #ffffff;
}

.recharge-from-card {
    margin-top: 20px;
    background: #ffffff;
}

.buy-on-p2p-market {
    margin-top: 20px;
    background: #ffffff;
}

.recharge-from-wallet {
    margin-top: 20px;
    background: #ffffff;
}

.settings_block {
    margin-top: 20px;
    background: #ffffff;
}

.exchange_blocks {
    display: inline-block;
}

.rfc_block {
    display: inline-block;
}

.bonp2pm {
    display: inline-block;
}

.rfw_block {
    display: inline-block;
}

.sb {
    display: inline-block;
}

.text_align_center {
    text-align: center;
}

.sb-text {
    text-align: center;
}
