/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

body {
    background: #ffffff;
}

.main {
    width: 400px;
    height: 100%;
    background: #ffffff;

}

.in_center {
    width: 352px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    margin-top: 8px;
    display: flex;
    flex-direction: row;
}

.header_text {
    font-size: 14px;
    color: #272D34;
}

.caption_achiev {
    margin-top: 14px;
    display: flex;
}

.cp_ach_text {
    font-size: 40px;
}

.amount {
    font-size: 14px;
    padding-left: 90px;
    padding-top: 22px;
}

.awards {
    margin-top: 16px;
    clear: both;
    overflow: hidden;
  }
  
.awards_1 {
    float: left;
    width: 33.333%;
    height: 100px;
  }

.awards_2 {
    float: left;
    width: 33.333%;
    height: 100px;
    padding-left: 8px;
  }

.awards_3 {
    float: left;
    width: 33.333%;
    height: 100px;
    padding-left: 8px;
  }

.border_box {
    width: 100%;
    height: 100%;
  }

.border_box_2 {
    padding-top: 16px;
    width: 100%;
    height: 32px;
  }

.border_box_2_grey {
    padding-top: 16px;
    width: 100%;
    height: 100%;
  }

.grey_awards_one {
    color: #66686bb0;
}